<h1><%= link_to "MeOff", root_path %></h1>
<h2>Meoff Homepage</h2>
<h3>The best App for managing Users and Notifications.</h3>
<%= link_to 'Sign In', new_user_session_path %> |
<%= link_to 'Sign Up', new_user_registration_path %>

